<!DOCTYPE html>
<html>
<head>
    <title>OfferKibao</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    div.cont{
        margin:7% auto;
        border: 1px solid #50565c;
        border-radius: 5px;
        text-align: center;
        max-width: 96%;
        box-shadow: 1px 1px 8px #353786;
        background-color:#e9eafa;
    }
    .cont p {
        margin:3em;
    }
    body{
        background-color:#ffffff;
    }
    div.form-group{
        margin-bottom: 3em;
    }
    #button{
        width: 50%;
        margin: 0 auto;
    }
    </style>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-expand-sm navbar-dark bg-primary" >
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Brand -->
           <a class="navbar-brand" href="/">Offer Kibao</a>
   </nav>
 

