<% include partials/header.ejs %>
<div class="container">
 <div  class="row">
 <div class="cont col-lg-6 col-md-8 col-sm">
 <p><%=message%></p>
		<form action="/users/confirmation/resend" method="POST">
			<div class="form-group">
			   <input class="form-control" type="email" name="email" placeholder="Email">	
			</div>	
			<div class="form-group">
				 <button id="button" class="btn btn-success btn-sm btn-block">Resend link</button>
		   </div> 
	    </form>
 </div> 
 </div>
 </div>

<% include partials/footer.ejs %>